body {
  margin: 0;
  padding: 0 !important;
  font-family: VarelaRound-Regular, MavenPro-Regular, -apple-system,
    BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
}

html,
body {
  overflow-x: hidden;
  font-size: 14px;
}

button {
  &:focus {
    outline: none;
    background-color: rgba(0, 0, 0, 0.05);
  }
}

// =============================================================================
// Font Face
// =============================================================================
@mixin font-face(
  $name,
  $path,
  $weight: null,
  $style: null,
  $exts: eot woff2 woff ttf svg
) {
  $src: null;
  $extmods: (
    eot: "?",
    svg: "#" + str-replace($name, " ", "_"),
  );
  $formats: (
    otf: "opentype",
    ttf: "truetype",
  );
  @each $ext in $exts {
    $extmod: if(
      map-has-key($extmods, $ext),
      $ext + map-get($extmods, $ext),
      $ext
    );
    $format: if(map-has-key($formats, $ext), map-get($formats, $ext), $ext);
    $src: append(
      $src,
      url(quote($path + "." + $extmod)) format(quote($format)),
      comma
    );
  }
  // '../' +
  @font-face {
    font-family: quote($name);
    font-style: $style;
    font-weight: $weight;
    src: $src;
  }
}

@include font-face(Run, "../assets/fonts/run", 400, null, ttf);
@include font-face(
  MavenPro-Regular,
  "../assets/fonts/MavenPro-Regular",
  400,
  null,
  ttf
);
@include font-face(
  MavenPro-Black,
  "../assets/fonts/MavenPro-Black",
  900,
  null,
  ttf
);
@include font-face(
  MavenPro-Bold,
  "../assets/fonts/MavenPro-Bold",
  700,
  null,
  ttf
);
@include font-face(
  MavenPro-ExtraBold,
  "../assets/fonts/MavenPro-ExtraBold",
  800,
  null,
  ttf
);
@include font-face(
  MavenPro-Medium,
  "../assets/fonts/MavenPro-Medium",
  500,
  null,
  ttf
);
@include font-face(
  MavenPro-SemiBold,
  "../assets/fonts/MavenPro-SemiBold",
  600,
  null,
  ttf
);
@include font-face(
  VarelaRound-Regular,
  "../assets/fonts/VarelaRound-Regular",
  500,
  null,
  ttf
);

.header {
  box-shadow: none !important;
  z-index: 100;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 3.15rem;
  background-color: #ffdd00 !important;
  margin: 0;
  padding: 0;
}

.error {
  margin-top: 0.3rem;
  color: $red;
  font-size: 0.8rem;
  font-weight: bold;
  position: relative;
  &.bottom {
    bottom: 0;
  }
}

.row {
  display: flex;
  width: 50%;
  margin: 0;
}

.error-table {
  position: absolute;
  text-align: center;
  justify-content: center;
  width: 50%;
  padding-left: 6%;
  margin-top: -17px;
  color: $red;
  font-size: 0.9rem;
  font-weight: bold;
}

.modal-table {
  @media (max-width: 430px) {
    width: 100% !important;
    padding: 0 !important;
    margin: 0 !important;
    tr {
      padding: 0 !important;
    }
    td {
      padding: 30px 5px !important;
    }
  }
  .error-table {
    width: 100% !important;
    @media (max-width: 430px) {
      width: 80% !important;
      padding: 0;
      margin-top: -30px;
    }
  }
}

.bar {
  width: 1235px;
  margin: 0 auto;
  padding: 0;
  @include desktop {
    width: 90% !important;
  }
}

.buttonHeader {
  border-radius: 0 !important;
  width: 150px;
  height: 3.15rem;
  margin-top: -3px !important;
  &__figure {
    margin: 0;
    height: 3.15rem;
  }
  .svg {
    width: 100%;
    height: 3.15rem;
    min-width: 7rem;
    max-width: 10rem;
  }
}

.menuItem {
  width: 150px !important;
}
.menuItemClient {
  width: 200px !important;
}

.ulSession {
  padding: 0;
  margin: 0;
  display: flex;
  margin-left: 1.5rem !important;
  li {
    display: flex;
  }
}

.botHeader {
  // position: relative;
  // position: initial;
  height: 2.75rem;
}

.botHeader2 {
  height: 2.75rem;
  background-color: #232323;
  &__nav {
    margin: 0 auto;
    max-width: 1250px;
    @include desktop {
      width: 80% !important;
    }
  }
}

.botHeader3 {
  position: relative;
  height: 2.75rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.ulHeader {
  z-index: 100;
  display: none;
  list-style-type: none;
  background-color: white;
  right: 0;
  left: 0;
  margin: 0;
  top: 2.75rem;
  padding: 0;
  // box-shadow: 0px 3px 3px -2px rgb(0 0 0 / 20%),
  //   0px 3px 4px 0px rgb(0 0 0 / 14%), 0px 1px 8px 0px rgb(0 0 0 / 12%);
  border-radius: 0 0 3px 3px;
  overflow: hidden;
  overflow-y: auto;
  max-height: calc(100vh - 4rem);
}

.nav > li {
  float: left;
}

.nav li a {
  background-color: #000;
  color: #fff;
  text-decoration: none;
  padding: 10px 12px;
  display: block;
}

.nav li a:hover {
  background-color: #434343;
}

.nav li ul {
  display: none;
  position: absolute;
  min-width: 140px;
  margin-top: 40px;
  background-color: white;
  cursor: pointer;
}

.nav li:hover > ul {
  display: block;
}

.nav li ul li {
  position: relative;
}

.nav li ul li ul {
  right: -140px;
  top: 0px;
}

.login_tittle {
  margin-bottom: 20px;
}

.arrow__button {
  margin: 10px;
  border-radius: 50%;
  border: 0px;
  overflow: hidden;
  background: transparent;
  display: flex;
  align-items: center;
  height: 4rem;
  cursor: pointer;
  figure {
    margin: 0;
    height: 3rem;
  }
  svg {
    width: 100%;
    height: 3rem;
    min-width: 3rem;
    max-width: 3rem;
  }
}

.btn-primary {
  background-color: #232323 !important;
  font-family: VarelaRound-Regular, MavenPro-Regular, -apple-system,
    BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif !important;
  text-transform: none !important;
  &_reserva {
    background-color: #ffdd00 !important;
    font-family: VarelaRound-Regular, MavenPro-Regular, -apple-system,
      BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
      "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif !important;
    text-transform: none !important;
  }

  &:disabled {
    background-color: lighten($color: #232323, $amount: 15) !important;
  }

  &:hover {
    background-color: darken($color: #232323, $amount: 5) !important;
  }
}
.btn_card {
  width: 110.2% !important;
  margin-left: -14px !important;
  text-transform: none !important;
  background-color: #5829dd !important;
  font-family: VarelaRound-Regular, MavenPro-Regular, -apple-system,
    BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif !important;
  &:disabled {
    background-color: lighten($color: #5829dd, $amount: 15) !important;
  }

  &:hover {
    background-color: darken($color: #5829dd, $amount: 5) !important;
  }
}
.btn-logout {
  width: 150px !important;
  margin: 0 !important;
  padding: 5px 0 !important;
}

.register__subtitle {
  color: lighten($color: black, $amount: 50);
}

.dropdown {
  font-family: VarelaRound-Regular, MavenPro-Regular, -apple-system,
    BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  color: #363636;

  border-color: #fff transparent transparent transparent;
  border-bottom: 1px solid #d8d8d8;
  font-size: 16px;
  margin-right: 10px;
  height: 20px;
  width: 48%;
  transition: border-bottom 0.3s ease;

  &:focus {
    border-bottom: 1px solid #ffdd00;
    outline: none;
  }
}

.register__input {
  font-family: VarelaRound-Regular, MavenPro-Regular, -apple-system,
    BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  color: #363636;
  border: 0px;
  border-bottom: 1px solid #d8d8d8;
  font-size: 16px;
  margin-bottom: 20px;
  margin-right: 11px;
  height: 20px;
  width: 47%;

  transition: border-bottom 0.3s ease;

  &:focus {
    border-bottom: 1px solid #ffdd00;
    outline: none;
  }
}
.mdal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 990;
}

.mdal .overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 995;
  background: rgba(0, 0, 0, 0.85);
}

.mdal .mdal_content {
  z-index: 999;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-height: 90%;
  overflow: auto;
  background: #fff;
  box-sizing: border-box;
  // padding: 50px;
  padding: 25px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.7);
  border-radius: 4px;
  // width: auto;
  display: flex;
  flex-direction: column;
  // width: 70%;
  width: 20%;
  text-align: center;

  /* This just a default width */
  @include mobile {
    padding: 30px;
    width: 80%;
  }
}

.mdal .mdal_content > div {
  margin: 20px 0 20px;
  text-align: center;
  display: inline-block;

  color: rgba(0, 0, 0, 0.65);

  strong {
    font-size: 24px;
  }

  u {
    font-size: 24px;
    color: $red;
    font-weight: bold;
  }

  @include mobile {
    font-size: 18px;
  }

  p {
    font-size: 18px;
  }

  li {
    font-size: 18px;
  }
}

.mdal .mdal_content .buttons_wrapper {
  padding: 20px;
}

.mdal .close_modal {
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
  font-size: 18px;
  opacity: 0.5;
  background: none;
  border: none;
  transition: opacity 0.2s ease;
}

.mdal .close_modal:hover {
  opacity: 0.9;
}

.btn__aceptar {
  background-color: #ee3124;
  color: white;
  font-size: 14px;
  border-radius: 4px;
  height: 50px;
  width: 200px;
  font-weight: bold;
  cursor: pointer;
  border: none;
}

.tittle {
  display: flex;
  flex-direction: row;
  align-items: center;
  @media (max-width: 500px) {
    flex-direction: column;
    align-items: flex-start;
  }
  button {
    height: 35px;
    margin-left: 10px !important;
    @media (max-width: 500px) {
      margin-left: 0 !important;
    }
  }
}

.Input {
  input[type="text"] {
    color: transparent;
    text-shadow: 0 0 0 #000;
  }
  input[type="text"]:focus {
    outline: none;
  }
}

.files {
  display: flex;
  justify-content: space-between;
  .input {
    padding-right: 50px;
  }
  @include mobile {
    .button {
      position: relative !important;
    }
    flex-direction: column;
    justify-content: center;
  }
  .txt-left {
    flex-direction: column;
    width: 30%;
    margin: 10px 5px 10px 0;
    @include mobile {
      width: 100%;
      margin: 5px 0;
    }
  }
  .txt-mid {
    flex-direction: column;
    width: 30%;
    margin: 10px 5px 10px 5px;
    @include mobile {
      width: 100%;
      margin: 5px 0;
    }
  }
  .txt-right {
    flex-direction: column;
    width: 30%;
    margin: 10px 0 10px 5px;
    @include mobile {
      width: 100%;
      margin: 5px 0;
    }
  }
  .txt-left-nomid {
    flex-direction: column;
    width: 50%;
    margin: 15px 5px 10px 0;
    @include mobile {
      width: 100%;
      margin: 5px 0;
    }
  }
  .txt-right-nomid {
    flex-direction: column;
    width: 50%;
    margin: 15px 0 10px 5px;
    @include mobile {
      width: 100%;
      margin: 5px 0;
    }
  }
  .txt-right-nomid-bank {
    flex-direction: column;
    width: 65%;
    margin: 5px 0 5px 5px;
    @include mobile {
      width: 100%;
      margin: 5px 0;
    }
  }
  .txt-quarter {
    flex-direction: column;
    width: 20%;
    margin: 5px 5px 5px 0;
    @include mobile {
      width: 100%;
      margin: 5px 0;
    }
  }
  .logos {
    display: flex;
    flex-wrap: wrap;
    width: 65.5%;
    @include mobile {
      width: 100%;
    }
    .content {
      display: flex;
      justify-content: space-between;
      width: 100%;
      @include mobile {
        flex-wrap: wrap;
      }
      .txt-mid-content {
        flex-direction: column;
        width: 45.7%;
        margin: 5px 0 5px 6px;
        @include mobile {
          width: 100%;
          margin: 5px 0;
        }
      }
      .txt-right-content {
        flex-direction: column;
        width: 45.8%;
        margin: 5px 0 5px 0;
        @include mobile {
          width: 100%;
          margin: 5px 0;
        }
      }
    }
  }
}

.files > button {
  min-width: 200px;
}

.card {
  display: flex;
  width: 272px;
  height: 272px;
  margin-left: 10px;
  margin-right: 15px;
  margin-top: 5px;
  overflow: hidden;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  &:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    transform: scale(1.1);
  }
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.order-list {
  width: 70%;
  margin: 20px;
  &_header {
    background-color: #f3f3f3;
    border: solid 1px #d9d9d9;
    min-height: 36px;
    color: #010101;
    width: 100%;
    font-size: 16px;
    margin-bottom: 2px;
    margin-bottom: 5px !important;
    border-radius: 3px !important;
    border: 0px !important;
  }
}

.mini {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 990;
}

.mini .overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 995;
  background: rgba(0, 0, 0, 0.85);
}
.mini .mini_content {
  z-index: 999;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-height: 70%;
  overflow: auto;
  background: #fff;
  box-sizing: border-box;
  // padding: 50px;
  padding: 25px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.7);
  max-width: 1000px;
  border-radius: 4px;
  width: 50%;
  display: flex;
  flex-direction: column;
  // width: 70%;
  text-align: center;

  /* This just a default width */
  @include mobile {
    padding: 30px;
    width: 100%;
  }
}

.modal-cover {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  transform: translateZ(0);
  background-color: rgba(0, 0, 0, 0.8);
}

._modal-close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.5em;
  line-height: 1;
  background: #f6f6f7;
  border: 0;
  box-shadow: 0;
  cursor: pointer;
}

._modal-close-icon {
  width: 25px;
  height: 25px;
  fill: transparent;
  stroke: black;
  stroke-linecap: round;
  stroke-width: 2;
}

.basic-slide {
  display: inline-block;
  width: 500px;
  padding: 10px 0 10px 15px;
  font-family: VarelaRound-Regular, MavenPro-Regular, -apple-system,
    BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-weight: 400;
  color: #377d6a;
  background: #efefef;
  border: 0;
  border-radius: 3px;
  outline: 0;
  text-indent: 70px; // Arbitrary.
  transition: all 0.3s ease-in-out;
  text-align: center;

  &::-webkit-input-placeholder {
    color: #efefef;
    text-indent: 0;
    font-weight: 300;
  }

  + label {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 15px;
    text-shadow: 0 1px 0 rgba(19, 74, 70, 0.4);
    background: #7ab893;
    transition: all 0.3s ease-in-out;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
  }
}
.basic-slide:focus,
.basic-slide:active {
  color: #377d6a;
  text-indent: 0;
  background: #fff;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;

  &::-webkit-input-placeholder {
    color: #aaa;
  }
  + label {
    transform: translateX(-100%);
  }
}

.button_ref {
  background-color: #e7e7e7;
  border: 3px solid #e7e7e7;
  color: black;
  padding: 15px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  transition-duration: 0.4s;
  cursor: pointer;
  font-family: VarelaRound-Regular, MavenPro-Regular, -apple-system,
    BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  width: 150px;
  text-decoration: none;
}

.button_ref:hover {
  background-color: white;
}

.font {
  font-family: VarelaRound-Regular, MavenPro-Regular, -apple-system,
    BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif !important;
  font-size: 14px !important;
}
.font-p {
  font-family: VarelaRound-Regular, MavenPro-Regular, -apple-system,
    BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif !important;
}
.font-tittle {
  font-family: VarelaRound-Regular, MavenPro-Regular, -apple-system,
    BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif !important;
  font-weight: bold !important;
  font-size: 15px !important;
}

.flip-container {
  width: 100%;
  text-align: center;
  margin: auto;
  .flip-card {
    min-width: 300px;
    height: 350px;
    display: inline-block;
    margin: 0 30px 30px 0;

    .flip-card-background {
      background-color: white;
      border-radius: 4px;
      h3 {
        margin: 0;
        padding: 0;
      }
      .price {
        padding: 8px 15px;
        font-size: 2.25rem;
        color: #5829dd;
      }
      .text {
        margin: 5px 0 0 0;
      }
    }
    .flip-title {
      height: 82.5%;
      align-items: center;
      justify-content: center;
      display: flex;
    }
    .flip-card-service {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      padding: 0 10px;
    }
  }
}
.flip-home {
  cursor: pointer;
  width: 270px;
  margin-left: 50px;
  margin-right: 50px;
  @include mobile {
    margin-left: 10px;
    margin-right: 0;
  }

  .flip-home-container {
    width: 270px;
    height: 270px;
    // margin: auto;
    .flip-home-front {
      border-radius: 4px;
      background-size: 100%;

      background-position: center;
      background-repeat: no-repeat;
    }
    .flip-home-back {
      // text-align: justify;
      background-color: #232323 !important;
      border-radius: 4px;
      div {
        text-align: left;
        padding-left: 13px;
        padding-right: 13px;
        display: grid !important;
        height: 100% !important;
        justify-content: center !important;
        align-items: center !important;
        color: white !important;
      }
    }
  }
  h3 {
    text-align: center !important;
    color: #5829dd !important;
    @include mobile {
      text-align: center !important;
    }
  }
}

.vertical-bar {
  max-width: 1000px;
  width: 60%;
  height: 50%;
  margin: 20px auto;
  @include desktop {
    width: 80%;
  }
  @include mobile {
    width: 100%;
  }
}

.page-container {
  padding: 30px 0;
  width: 90%;
  margin: 50px auto;
  @include tablet {
    padding: 0;
    margin: 20px auto;
  }
  .category {
    @include mobile {
      width: 100% !important;
    }
  }
  .login {
    width: 500px;
    margin: 0 auto;
    padding: 0;
    @include mobile {
      width: 100% !important;
    }
  }
  h1 {
    color: #5829dd;
  }
  .card-container {
    min-width: 345px;
    display: inline-block;
    margin-right: 20px;
    margin-bottom: 20px;
    @include mobile {
      min-width: 300px;
      width: 0;
    }
    .card-media {
      height: 240px;
      width: 300px;
      margin: auto;
    }
    .card-content {
      margin: 20px 0 10px 0;
    }
  }
  .recover-password-button {
    text-align: center;
    margin-top: 20px;
  }
  button {
    margin: 10px 0;
    text-transform: none;
  }
  .hr {
    width: 99%;
    margin: 0 auto;
    padding: 0;
  }
  .appointment-container {
    display: flex;
    align-items: center;
  }
  .table {
    width: 100% !important;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 1px -1px,
      rgba(0, 0, 0, 0.14) 0px 1px 1px 0px, rgba(0, 0, 0, 0.12) 0px 1px 3px 0px !important;
    .table-head {
      background: #f3f3f3;
    }
  }
  .home-text {
    width: 50%;
    position: absolute;
    margin-top: 5px;
    h1 {
      margin-bottom: 0 !important;
    }
    h3 {
      margin-top: 5px !important;
    }
    @include tablet {
      width: 100%;
      position: relative !important;
    }
  }
  .home-search {
    float: right;
    margin-top: 30px;
    @include tablet {
      float: left;
      margin-bottom: 20px;
    }
  }
}

.cookie-policy-container {
  p {
    font-size: 16px;
  }
  ul {
    font-size: 16px;
  }
}

.category-container {
  ul {
    margin: 0 !important;
    padding: 0 !important;
    list-style: none !important;
    @include mobile {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
    }
  }
  li {
    cursor: pointer;
    float: left !important;
    margin-left: 22px;
    margin-bottom: 22px;
    overflow: hidden;
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    *:before {
      box-sizing: inherit;
    }
    *:after {
      box-sizing: inherit;
    }
    @include mobile {
      margin-left: 0;
      margin-right: 22px;
    }
  }
  a {
    text-decoration: none;
    border-radius: 4px;
  }
  .container {
    width: 100%;
    display: block;
    text-align: center;
    background: rgba(0, 0, 0, 0.3);
    padding-top: 80px;
    .svg {
      border-radius: 50%;
      background-color: #ffdd00;
      padding: 35px 8px 5px 8px;
    }
    .name {
      color: #ffff;
      margin-top: 15px;
      padding: 0;
      font-size: 18px;
    }
  }
}

.footer-container {
  margin-top: 30px;
  .footer {
    background: #232323;
    padding-bottom: 25px;
    .title {
      margin: 20px 0 10px 0 !important;
    }
    .text {
      font-size: 13px;
      margin: 0;
      padding: 0;
    }
    .p {
      font-size: 13px;
      margin: 0;
      padding: 0;
    }
    hr {
      border: none;
      margin: 0;
      margin-left: 1rem;
      margin-right: 1rem;
      width: 1px;
      height: 20px;
      border-left: 1px solid #e9e9e9;
    }
    button {
      background: none;
      border: none;
      color: inherit;
      text-decoration: underline;
      cursor: pointer;
      padding: 0;
      font-size: 13px;
    }
  }
  .hr {
    margin: 0;
    padding: 0;
    border-top: 1px solid #e9e9e9;
  }
}

// Carousel Style
.SecondExample {
  width: 100%;

  .Project {
    // position: relative;
    height: 100%;
    width: 300%;
    overflow: auto;
    padding: 20px;
    display: flex;
    flex-shrink: 0;
    text-align: center;

    h1 {
      font-size: calc(16px + (300 - 16) * (100vw - 200px) / (2400 - 200));
      margin: 0;
      padding: 0;
    }

    p {
      font-size: calc(12px + (24 - 12) * (100vw - 200px) / (2400 - 200));
    }

    h2 {
      font-size: calc(12px + (60 - 16) * (100vw - 200px) / (2400 - 200));
      color: #ffdd00;
    }

    * {
      color: white;
    }

    .CheckButton {
      color: white;

      font-size: 25px;
      border: 3px solid #ffdd00;
      text-transform: capitalize;

      // transition: 200ms;
    }
  }
}
.Home-carousel {
  width: 100%;

  .Project {
    // position: relative;
    height: 100%;
    width: 100%;
    overflow: auto;
    padding: 20px;
    display: flex;
    flex-shrink: 0;
    text-align: center;

    h1 {
      font-size: calc(16px + (300 - 16) * (100vw - 200px) / (2400 - 200));
      margin: 0;
      padding: 0;
    }

    p {
      font-size: calc(12px + (24 - 12) * (100vw - 200px) / (2400 - 200));
    }

    h2 {
      font-size: calc(12px + (60 - 16) * (100vw - 200px) / (2400 - 200));
      color: #ffdd00;
    }

    * {
      color: white;
    }

    .CheckButton {
      color: white;

      font-size: 25px;
      border: 3px solid #ffdd00;
      text-transform: capitalize;

      // transition: 200ms;
    }
  }
}

.banner-container {
  background-size: 40%;
  background-position: center;
  background-repeat: no-repeat;
  border-bottom: solid 4px #232323;
  .carousel-background {
    background: rgba(0, 0, 0, 0.3);
    height: 580px;
    @include mobile {
      height: 200px;
    }
  }
  .content {
    height: 100%;
    width: 25%;
    justify-content: center;
    align-items: center;
    margin-bottom: 5%;
  }
  .title {
    padding-top: 5vh;
    padding-left: 50px;
    @include mobile {
      padding-top: 0;
      padding-left: 8px;
    }
    h2 {
      text-align: left;
    }
    div {
      text-align: left !important;
      max-width: 600px !important;
      font-size: calc(12px + (24 - 12) * (100vw - 200px) / (2400 - 200));
    }
  }
}

.banner-container-business {
  background-size: 40%;
  background-position: center;
  background-repeat: no-repeat;
  border-bottom: solid 4px #232323;
  .carousel-background {
    background: rgba(0, 0, 0, 0.3);
    height: 580px;
    @include mobile {
      height: 200px;
    }
  }
  .content {
    height: 100%;
    width: 25%;
    justify-content: center;
    align-items: center;
    margin-bottom: 5%;
  }
  .title {
    padding-top: 5vh;
    padding-left: 50px;
    @include mobile {
      padding-top: 0;
      padding-left: 8px;
    }
    h2 {
      text-align: left;
    }
    div {
      text-align: left !important;
      max-width: 600px !important;
      font-size: calc(12px + (24 - 12) * (100vw - 200px) / (2400 - 200));
    }
  }
}

.picture-container {
  width: 100%;
  height: 300px;
}
.banner-container-profile {
  cursor: pointer;
  z-index: 1;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s ease;
  opacity: 1;
  background-size: auto;
  background-position: center;
  background-repeat: no-repeat;
  @include mobile {
    background-size: 90%;
  }
}
.banner-hover {
  z-index: 3;
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  color: white;
  margin-top: 80px;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.banner-background-hover {
  transition: 0.5s ease;
  opacity: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background: rgba(0, 0, 0, 0.6);
}

.banner-container-profile:hover .banner-background-hover {
  opacity: 1;
}

.banner-container-profile:hover .banner-hover {
  opacity: 1;
}

.modal-container {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  .modal-message-container {
    background-color: white;
    border-radius: 4px;
    box-shadow: 5;
    padding: 20px;
    button {
      margin: 10px 0;
      width: 80%;
      text-transform: capitalize;
    }
  }
}

.confirm-page {
  display: flex;
  text-align: center;
  min-height: 70vh;
  width: 100%;
  .content-container {
    width: 600px;
    margin: auto;
    @include mobile {
      width: 100%;
      img {
        width: 100%;
        max-width: 350px;
      }
    }
    button {
      width: 40%;
      text-transform: capitalize;
      margin: 10px 20px;
    }
  }
}
.precio-container {
  margin-bottom: 1rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  .precio {
    background-color: #f3f3f3;
    border-radius: 4px;
    border: solid 1px #dddddd;
    color: #5829dd;
    font-size: 2.25rem;
    padding: 8px 15px;
  }
}
.correo {
  color: #5829dd;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 0 !important;
  margin: 0 !important;
}
.mensaje {
  -webkit-text-decoration: none;
  text-decoration: none;
  color: #232323;
  max-width: 500px;
  font-size: 0.8rem;
  margin-top: 1rem;
  display: inline-block;
  text-align: justify;
}
.header-profile-container {
  width: 300px;
  position: absolute;
  padding: 20px 30px;
  @include tablet {
    position: relative;
    margin: 30px auto;
    width: 50%;
    // display: flex;
    // flex-direction: row;
    padding: 0;
  }
  .header-profile {
    width: 200px;
    text-align: center;
    @include tablet {
      width: 100%;
    }

    img {
      border-radius: 50%;
      max-width: 150px;
      max-height: 150px;
    }
    .title {
      margin-top: 20px;
      font-size: 20px;
      font-family: MavenPro-Regular;
      font-weight: bold;
    }
    .button-container {
      @include tablet {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: center;
      }
    }
    .button {
      margin-top: 20px;
      @include tablet {
        margin-top: 0;
        margin-left: 20px;
      }
    }
    .logout {
      margin-top: 100px;
      @include tablet {
        display: none;
      }
    }
  }
}

.form {
  width: 50%;
  height: 500px;
  margin: auto;
  padding-top: 5%;
  padding-left: 5%;
  @include tablet {
    width: 90%;
    margin: 0 auto;
    padding: 0;
  }

  // box-sizing: border-box;
  // overflow-x: hidden;
  h1 {
    color: #5829dd;
    display: inline-block;
    margin-right: 20px;
  }
  hr {
    margin: 0;
    padding: 0;
  }
}

.profile-container {
  max-width: 1550px;
  margin: auto;
  hr {
    width: 85%;
    @include mobile {
      width: 90%;
    }
  }
}

.form-profile {
  display: flex;
  width: 85%;
  margin: auto;
  justify-content: space-between;
  @include tablet {
    margin-left: 6vw;
    width: 90%;
    display: inline-block;
  }
  h1 {
    color: #5829dd;
    @include tablet {
      margin-bottom: 10px;
    }
  }
}

.form > button {
  @include tablet {
    margin-bottom: 10px;
  }
}
.form-profile > button {
  margin-top: 18px;
  max-height: 35px !important;
  @include tablet {
    margin-top: 0;
    margin-bottom: 10px;
  }
}

.table {
  width: 90% !important;
  border-radius: 10px 10px !important;
  margin: 30px auto !important;
  .table-head {
    background: #f3f3f3 !important;
  }
  button {
    background: none;
    border: none;
    cursor: pointer;
    text-decoration: underline;
  }
}

.table-reserva {
  border-radius: 10px 10px !important;
  width: 100% !important;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 1px -1px,
    rgba(0, 0, 0, 0.14) 0px 1px 1px 0px, rgba(0, 0, 0, 0.12) 0px 1px 3px 0px !important;
  margin: 10px auto !important;
  .table-head {
    background: #f3f3f3;
  }
}

.home-container {
  min-height: 130px;
  padding: 0 5% 0 5%;
  @include mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.carousel-container {
  width: 100%;
  height: 360px;
  display: flex;
  li {
    display: flex;
    justify-content: space-evenly;
  }
  @include mobile {
    width: 350px;
    margin: auto;
  }
}

.w-6 {
  width: 1.5em;
}
.h-6 {
  height: 1.5em;
}
.flex {
  display: flex;
  margin-top: 5px;
}
.cursor-pointer {
  cursor: pointer;
}

.arrow-container {
  position: absolute;
  &_left {
    left: 0;
    position: absolute;
    button {
      margin: 0;

      border: none;
      cursor: pointer;
      background: none;
    }
    svg {
      height: 36px;
      width: 36px;
      margin: 0 !important;
      padding: 0 !important;
    }
  }
  &_right {
    right: 0;
    position: absolute;
    button {
      margin: 0;

      border: none;
      cursor: pointer;
      background: none;
    }
    svg {
      height: 36px;
      width: 36px;
      margin: 0 !important;
      padding: 0 !important;
    }
  }
}

.mat__loading {
  position: fixed;
  z-index: 1000;
  height: 3rem;
  width: 3rem;
  overflow: visible;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.loading {
  opacity: 0;
  position: absolute;
  top: 0;
  overflow: hidden;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba($color: $black, $alpha: 1);
  z-index: -100;
  transition: ease 1s;

  div {
    color: rgba($color: $red, $alpha: 1);
  }

  &.active {
    display: initial;
    opacity: 1;
    z-index: 1000;
    background-color: rgba($color: $black, $alpha: 1);
  }
}
.cookie-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 600px !important;
  margin: 40px;
  text-align: center;
  position: fixed;
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  background: white !important;
  bottom: 0px;
  left: 0px;
  color: black !important;
  z-index: 999;
  .wraper {
    max-width: 450px;
    min-width: 440px;
    @include tablet {
      width: 100% !important;
      max-width: none !important;
      min-width: 10px !important;
    }
  }
  @include tablet {
    width: 100% !important;
    margin: 0;
    border-radius: 0;
    box-shadow: none;
    flex-direction: column;
  }
}

.buttonWrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  @include tablet {
    flex-direction: row;
  }
}
.buttonAcceptClass {
  margin-left: 5px;
  margin-bottom: 10px;
  background: #ffdd00;
  color: black;
  font-weight: bold;
  border-radius: 4px;
  border: none;
  height: 32px;
  width: 100px;
  cursor: pointer;
}
.buttonDeclineClass {
  cursor: pointer;
  margin-left: 5px;
  border: none;
  border-radius: 4px;
  font-weight: bold;
  height: 40px;
  color: black;
  text-align: center;
  width: 100px;
}

.question-container {
  width: 40%;
  margin: 40px auto;
  @include tablet {
    width: 80%;
  }
}
.complain-container {
  width: 50% !important;
  margin: 0 auto;
  button {
    width: 40%;
    @include mobile {
      width: 100%;
    }
  }
  @include desktop {
    width: 100% !important;
  }
  .form-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    @include mobile {
      flex-direction: column;
    }
    .left {
      display: flex;
      width: 45%;
      flex-direction: column;
      @include mobile {
        width: 100%;
      }
    }
    .right {
      display: flex;
      width: 45%;
      flex-direction: column;
      @include mobile {
        width: 100%;
      }
    }
  }
}

.footer {
  @media (max-width: 550px) {
    margin-top: 20px;
    flex-direction: column;
    hr {
      border-left: none !important;
    }
  }
}
.animate__animated.animate__fadeIn {
  --animate-duration: 0.5s;
}

.appointment-service-container {
  width: 50%;
  margin: 3% auto;
  @include mobile {
    width: 90%;
  }
}
.business-profile-container {
  width: 85%;
  margin: 10px auto;
  @include mobile {
    width: 90%;
  }
}

.autocomplete {
  position: absolute;
  // width: 70%;

  z-index: 2;
  // margin: 0px 1%;
  background-color: white;
  overflow: hidden;

  li {
    visibility: visible !important;
    position: initial !important;
    display: block !important;
    width: auto !important;
  }
}

.animate__animated.animate__slideInUp {
  --animate-duration: 0.5s;
}
.service-detail-container {
  width: 50%;
  margin: 3% auto;
  @include mobile {
    width: 90%;
  }
}
.appointment-cards {
  @include mobile {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.list {
  ul {
    padding: 0 !important;
  }
}
