body {
  margin: 0;
  padding: 0 !important;
  font-family: VarelaRound-Regular, MavenPro-Regular, -apple-system,
    BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
}

html,
body {
  overflow-x: hidden;
  font-size: 14px;
}

h1 {
  margin-bottom: 20px;
}

.arrow__button {
  margin: 10px;
  border-radius: 50%;
  border: 0px;
  overflow: hidden;
  background: transparent;
  display: flex;
  align-items: center;
  height: 4rem;
  cursor: pointer;
  figure {
    margin: 0;
    height: 3rem;
  }
  svg {
    width: 100%;
    height: 3rem;
    min-width: 3rem;
    max-width: 3rem;
  }
}

.auth__main {
  align-items: center;
  background-color: white;
  display: flex;
  justify-content: center;
  height: 30vw;
  width: 80vw;
}

.auth__box-container {
  padding: 20px;
  width: 500px;
}

.auth__input {
  font-family: VarelaRound-Regular, MavenPro-Regular, -apple-system,
    BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  color: #363636;
  border: 0px;
  border-bottom: 1px solid #d8d8d8;
  font-size: 16px;
  margin-bottom: 20px;
  height: 20px;
  width: 100%;

  transition: border-bottom 0.3s ease;

  &:focus {
    border-bottom: 1px solid #ffdd00;
    outline: none;
  }
}

.auth__alert-error {
  background-color: red;
  border-radius: 5px;
  color: white;
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  padding: 5px;
}

.btn {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: transparent;
  border: none;
  color: #232323;
  cursor: pointer;
  font-size: 16px;

  transition: color 0.3s ease;
}

.btn-primary {
  background-color: #ffdd00;
  border-radius: 4px;
  padding: 0.8rem 1.5rem;

  &:disabled {
    background-color: lighten($color: #ffdd00, $amount: 15);
  }

  &:hover {
    background-color: darken($color: #ffdd00, $amount: 5);
  }
}

.btn-block {
  width: 100%;
}
