.register__subtitle{
    color: lighten($color: black, $amount: 50)
}

.dropdown{
    font-family: VarelaRound-Regular, MavenPro-Regular, -apple-system,
    BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    color: #363636;
  
  border-color: #fff transparent transparent transparent;
  border-bottom: 1px solid #d8d8d8;
  font-size: 16px;
  margin-right: 10px;
  height: 20px;
  width: 48%;
    transition: border-bottom 0.3s ease;

  &:focus {
    border-bottom: 1px solid #ffdd00;
    outline: none;
  }
}

.register__input{

    font-family: VarelaRound-Regular, MavenPro-Regular, -apple-system,
    BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  color: #363636;
  border: 0px ;
  border-bottom: 1px solid #d8d8d8;
  font-size: 16px;
  margin-bottom: 20px;
  margin-right: 11px;
  height: 20px;
  width: 47%;

  transition: border-bottom 0.3s ease;

  &:focus {
    border-bottom: 1px solid #ffdd00;
    outline: none;
  }
}   